body {
  margin: auto;
  width: 54%;
  font-family: serif;
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 33%;
  flex-grow: 1;
  float: right;
}

h1 {
  color: #076652;
  font-style: italic;
  flex-grow: 1;
  text-align: center;
  float: left;
  margin-top: 10%;
}

button {
  background-color: #b41632;
  color: white;
  font-family: serif;
  font-size: medium;
  border: none;
  padding: 5px 5px;
  transition-duration: 35ms;
}

button:hover {
  background-color: #b41633ad;
}

#inputDiv {
  background-color: #ffdf00;
  padding: 15px 15px 15px 15px;
  border: 2px solid #076652;
}

table, th, td {
  margin-top: 15px;
  border: 2px solid #076652;
  border-collapse: collapse;
}

th, td {
  padding: 5px 5px;
  text-align: center;
}

th {
  background-color: #076652;
  color: white;
}

input {
  padding: 5px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-family: serif;
  font-size: medium;
  border: none;
}

#averagesOut {
  font-weight: bold;
}